body {
    background-image: url("../../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.App {
    background-color: rgba(0, 0, 0, 0.5);
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.container-app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}
